:root {
  --product-color-white: #ffff;
  --product-color-black: #0000;
  --product-color-green: #77e12a;
  --product-color-grey: #afb2ae;
  --product-color-red: #f90f01;
  --product-color-light-green: #b9d3a7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.content {
  width: 80%;
  margin: 0 auto;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .content {
    width: 90%;
  }
}

/*hero-section*/
.hero-section {
  background-image: url("/images/hero-section-img.png");
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
  margin-bottom: 32px;
  height: 400px;
  position: relative;
}

.hero-text {
  color: var(--product-color-white);
}

.hero-title {
  font-size: 42px;
  margin-bottom: 16px;
}

.hero-subtitle {
  font-size: 20px;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 32px;
  }
}

.hero-btn {
  position: absolute;
  bottom: 32px;
  left: 32px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: var(--product-color-white);
  background-color: var(--product-color-red);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.dicount-badge {
  border-radius: 50px;
  background-color: var(--product-color-red);
  font-weight: bold;
  font-size: 16px;
  display: none;
  height: 50px;
  width: 50px;
  line-height: 80px;
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: center;
}

@media (min-width: 1200px) {
  .discount-badge {
    display: block;
  }
}

/*promo-section*/
.promo-section {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.promo-card-1 {
  background-image: url("/images/vysavac.png");
}

.promo-card-2 {
  background-image: url("/images/mobil.png");
}

.promo-card-3 {
  background-image: url("/images/clothes.png");
}

.promo-card-1,
.promo-card-2,
.promo-card-3 {
  height: 250px;
  width: 300px;
  border-radius: 8px;
  position: relative;
  padding: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: var(--product-color-black);
  background-blend-mode: darken;
}

.promo-content {
  position: absolute;
  bottom: 16px;
}

.promo-heading {
  color: var(--product-color-white);
  margin-bottom: 16px;
}

.promo-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: var(--product-color-white);
  font-weight: bold;
  background-color: var(--product-color-red);
  cursor: pointer;
}

/*card section*/
.card-section {
  background-color: var(--product-color-light-green);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
